# Environment
.env

# YouTube cookies — maxfiy, GitHub'ga yuklanmasin!
cookies.txt

# Database
*.db
*.sqlite3

# Temp yuklamalar
downloads/
logs/

# Python
__pycache__/
*.py[cod]
*.pyo
.Python
*.egg-info/
dist/
build/
.venv/
venv/

# OS
.DS_Store
Thumbs.db
